@import "./variable";
@import "./font";
@import "./componets.scss";
@import "./page";

.centerAbsolute {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 32px;
    height: 38px;
    margin-left: -16px;
    margin-top: -19px;
}


* {
    font-family: Nunito, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    font-weight: 700
}

body {
    font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    background-color: $grey-200;
}

.login-form-button {
    width: 100%;
}